@import url('https://fonts.googleapis.com/css?family=IBM Plex Sans:400,400italic,600,600italic,700,700italic,500,500italic,200,200italic,300,300italic,350,350italic');

html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;
}

body
{ font: 400 95% 'IBM Plex Sans', sans-serif;
  line-height: 1.22;
  font-variant-numeric: proportional-nums lining-nums;
  background: #e7e7e7; /*; /*;		/*#F4F4EC, F5F5EC*/
  color: black /* #0b0b0b; */
}

p
{ padding: 0 0 20px 0;
  }

img
{ border: 0;}

h1, h2, h3, h4, h5, h6
{ color: #0b0b0b;
  padding: 0 0 5px 10pt;
}

h1, h4
{ font: 600 110% 'IBM Plex Sans', sans-serif;
  margin: 0 0 5px 0;
  padding: 10px 0 5px 17px;
  /* font-variant-numeric: proportional-nums; */
  /* color: #3f3c38; */
  /* text-transform: uppercase; */
  font-style: none;
  /* font-variant: small-caps; */
  letter-spacing: 0.0em
}

h2, h5
{ padding: .5ex 0 1ex 9pt;
  margin-left: .5ex;
  font: 600 .95em 'IBM Plex Sans', sans-serif;
  letter-spacing: 0;
  /* font-variant-numeric: lining-nums; */
}

h3, h6
{ color: #121210;
  font: 400 1.0em 'IBM Plex Sans', sans-serif;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 15px 0 0px 0;}

/* h4 */
/* { color: #777;} */

h5, h6
{ color: #FFA201;}

a, a:hover
{ outline: none;
  font-weight: 500;
  text-decoration: none;
  color:   #018707 /*  #258875       /* #018707 */
}

a:hover
{ text-decoration: none;
  color: #47433F;}

blockquote
{ margin: 20px 0;
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;
}

ul li
{ list-style-type: none;
  margin: 0 0 7px -0px;
  padding: 0 0 5px 0px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto;
  margin-right: auto;}

#main
{ padding-bottom: 20px;}

#header
{ background: #333;
  height: 90px;
  margin-bottom: 10px;}

#logo
{ width: 840px;
  position: relative;
  height: 110px;}

#logo #logo_text
{ position: absolute;
  top: -10px;
  left: 2em;}

#logo h1, #logo h2
{ font: 400 1.4em 'IBM Plex Sans', arial, sans-serif;
  border-bottom: 0;
  letter-spacing: 0pt;
  margin: 0;
}

#logo_text h1
{ padding: 28px 0 5px 10px;
  color: #ffffd1 ;
  /* font-style: italic; */
  letter-spacing: 0pt;}

#logo_text h2
{ font-size: 100%;
  padding: 0px 0 0 10px;
  font-weight: 400;
  /* font-style: italic; */
  color: #c0c0c0; /* #c4c6ad; */ /* A8AA94; */}

#menubar
{ width: 875px;
  height: 60px;
  padding: 14px 0 0 0px;
  background: transparent;}

ul#menu
{ float: left;}

ul#menu li
{ float: left;
  margin: 10px 0 0 0;
  padding: 0 0 0 0px;
  list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: 500 .935em 'IBM Plex Sans' ;
  display: block;
  float: left;
  height: 33px;
  padding: 12px 22px 0px 22px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  background: #555;
  text-decoration: none;
  margin-right: 3px;}

ul#menu li a:hover
{ color: #FFF;
  background: #444;}

ul#menu li.selected a
{ color: #000;
  background: #f3f3f0;}

#site_content
{ width: 800px;
  min-height: 550px;
  overflow: hidden;
  margin: 0 auto 2em auto;
  padding: 40px 20px 10px 40px;
  background: #fdf9f6;
  border: 1px solid #cecec5;}

.sidebar
{ float: right;
  width: 195;
  padding: 0 15px 20px 15px;}

.sidebar ul
{ width: 178px;
  padding: 4px 0 0 0;
  margin: 4px 0 30px 20px;}

.sidebar li
{ /* list-style: none; */
  padding: 0; }

.sidebar li a, .sidebar li a:hover
{ padding: 3px 0 3px 0px;
  display: block;
  color: #47433F;
  /* background: transparent url(link.png) no-repeat left center; */}

.sidebar li a.selected
{ color: #444;}

#content
{ text-align: left;
  width: 800px;
  padding: 0;
}

#footer
{ width: 916px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 60%;
  height: 28px;
  margin-top: 20px;
  padding: 20px 0 5px 0;
  text-align: center;
  background: transparent;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.1em;}

#footer a
{ color: #888;
  text-decoration: none;}

#footer a:hover
{ color: #000;
  text-decoration: none;}

.yellow
{ color: #f7c62c;		/*#F7C015*/
}

.blue
{ color: #05A4D1;
  font-weight: 400;
}

.orange
{ color: #CE570A/* #FF7A0F */;}

.red
{ color: #C80500;}

.purple
{ color: #820056;}

.green
{ color: #029708;
  font-weight: 300;}

.green2
{ color: #029708;
  font-weight: 400;}


.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left;
  width: 200px;
  text-align: left;}

.form_settings input, .form_settings textarea
{ padding: 2px;
  width: 299px;
  font: 100% arial;
  border: 1px solid #E5E5DB;
  background: #FFF;
  color: #47433F;}

.form_settings .submit
{ font: 100% arial;
  border: 1px solid;
  width: 99px;
  margin: 0 0 0 206px;
  height: 35px;
  padding: 5px 0 5px 0;
  cursor: pointer;
  background: #555;
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial;
  width: 299px;}

.form_settings select
{ width: 304px;}

.form_settings .checkbox
{ margin: 4px 0;
  padding: 0;
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}

table
{ margin: 5px 0 15px -5px;}

table tr th, table tr td
{ text-align: left;
  background: #555;
  color: #FFF;
  padding: 5px 4px;}

table tr td
{ /* background: #F5F5EC; */
    /* color: #47433F; */
    background: white;
    color: black;
    border-top: 1px solid #FFF;}

.rule {
    margin-right: 85%;
    margin-bottom: 15px;
}

.title {
    font-weight: 500;
    font-size: 1em;
    color: #0d0d0d
}

.handouts {
    padding: 10px 0 0px 5px
}

strong {
    font-weight: 300
}

strong h1 {
    font-weight: 650;
}

strong .title {
    font-weight: 600
}

#info {
    font-size: 102%;
    width: 440px;
    margin-left: 0px;
    top: 520px;
    padding-left: 10pt;
    color: #0b0b0b;
    font-weight: 400;
}

#papers {
    margin-top: 8em;
}

#pic {
    margin-top: 1em;
    margin-left: 10px;
    margin-bottom: 10px;
}

#address {
    float: left;
    width: 23em;
    margin-left: 1em;
    margin-top: -1ex;
    /* font-variant-numeric: lining-nums; */
    color: #0b0b0b;
    font-weight: 400;
}

#address h2 {
    padding: 1em 0em 0em 0em;
    margin-left: 0em;
    font-weight: 600;
    font-variant-numeric: proportional-nums lining-nums;
    color: #282828;
}

hr {
     /* width: 50%; */
     /* color: gray; */
     border-style: dotted;
     width: 40%;
     color: gray;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 2em;
}

#prof{
    font-weight: 600;
    margin-bottom: -1ex;
}
